<h1>Welcome to Sniff n Play</h1>

<%# <% if current_user %>
    <%# <%= link_to "Logout", destroy_user_path, method: :delete %> 
<%# <% else %> 
    <%= link_to "Sign up", signup_path %><br> 
    <%= link_to "Login", login_path %>
<%# <% end %> 

