

    <% @dogs.each do |d|  %>
        <p> 
        <%= link_to d.name, dog_path(@dogs) %>
        <br>
        </p>
    <%end %>
<br>
<br>

<%= link_to 'Create your dog profile', new_dog_path(@dog) %>