<% if logged_in? && (@dog.user == current_user) %> 

<h1> Photos of <%= @dog.name %> </h1>

<%= render partial: 'layouts/all_photos', locals: {photos: @photos, allow_add_comment: true} %>

<%= link_to "Add More Photo", new_user_dog_photo_path(@user, @dog) %> 
<br>
<br>  
<%= link_to "Done", user_path(@user) %> 
<br>
<br>
<br>
<% else%> 
    <h1>not your page</h1>
<%end %>



