<h1> newly created photo show page </h1>



<%= image_tag(@photo.image_file, height: '150', width:'150') if @photo.image_file.attached?%>
<p>
    <strong>Caption</strong>
    <%= @photo.caption %>
</P> 
